body {
    background-color: #CC0000;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}


h1 {
    font-family: 'Stardos Stencil';
    font-size : 40px;
    margin-bottom: 2px;
}

h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h2 {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    margin-bottom: 0;
    color: #9D1309;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

}

#main{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
#content {
    display: inline;
    position:relative;
}
.row {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    display: inline;
}

#header,
#map-header {
    color: white;
    margin-left: 10px;
    flex: 1 100%;
    margin-left: 20px;

}

.book-tile {
    background-color: #FFFF99;
    margin: 10px;
    padding: 5 px;
    height: 450px;
    width: 400px;
    float: left;
    text-align: center;
}


.book-cover {
    padding-top: 15px;
    max-height: 200px;
    max-width: 175px;
}

.description {
    padding: 10px;
    text-align: left;
}
.slider-nav {
    text-align: center;
}

.arrow-prev {
    display: inline-block;
    vertical-align: top;
}

.arrow-next {
    display: inline-block;
    vertical-align: top;
}

.slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    padding-bottom: 0;
}

.slider-dots li {
    color: #bbbcbc;
    display: inline;
}
.slider-dots li.active-dot {
    color: #363636;
}

#map-canvas {
    display: block;
    height: 400px;
    width: 96%;
}

#map {
    display: block;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width:900px) {
 
  
}

@media only screen and (max-width: 750px) {
     .book-tile {
        width: 300px;
        height: 550px;
     }
}

@media only screen and (min-width: 750px) {

}



